In [3]:
%load_ext autoreload
%autoreload 2

import os
import pandas as pd
import time
import plotly.express as pe
import plotly.offline as pyo
from datetime import datetime
import lib.dataprocess as dp

pyo.init_notebook_mode()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

ModuleNotFoundError: No module named 'lib'

In [2]:
# dp.process_downloaded_data('Orlando','wunderground','pws')

True

# 1. Visualizing Netatmos Data

In [3]:
df_netatmos = pd.read_csv('data/Madison/master_madison_netatmos.csv')
dfx = dp.process_netatmos(df_netatmos)

# dfx[dfx.yday==167]
# lter_combined[lter_combined.yday==167]
df_netatmos

,Unnamed: 0,beg_time,temperature,humidity,latitude,longitude
0,0,2021-01-01 00:03:37,1.5,24,43.127703,-89.350157
1,1,2021-01-01 00:13:52,2.1,23,43.127703,-89.350157
2,2,2021-01-01 00:24:07,1.5,20,43.127703,-89.350157
3,3,2021-01-01 00:33:31,0.9,22,43.127703,-89.350157
4,4,2021-01-01 00:43:46,2.2,25,43.127703,-89.350157
...,...,...,...,...,...,...
287421,287421,2021-12-30 16:41:16,-4.6,78,43.063950,-89.408794
287422,287422,2021-12-30 16:50:40,-4.5,78,43.063950,-89.408794
287423,287423,2021-12-30 17:00:55,-4.5,78,43.063950,-89.408794
287424,287424,2021-12-30 17:11:11,-4.3,78,43.063950,-89.408794
287425,287425,2021-12-30 17:26:34,-4.3,78,43.063950,-89.408794

In [20]:
# # fig = pe.scatter_mapbox(dfz,lat='latitude',lon = 'longitude',animation_frame='day_of_year',color = 'temperature',range_color=[-40,40],hover_data=['station'],height = 610)
# fig = pe.scatter_mapbox(dfz,lat='latitude',lon = 'longitude',animation_frame='day_of_year',color = 'temperature',hover_data=['station'],height = 610)
# fig.update_layout(mapbox_style = 'open-street-map',)
# fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
# fig.update_traces(marker=dict(size=14,color='black'))
# # fig.update_geos(projection_type="equirectangular", visible=True, resolution=110)
# fig.layout.updatemenus[0].buttons[0].args[1]['frame']['duration'] = 100
# fig.layout.updatemenus[0].buttons[0].args[1]['transition']['duration'] = 5

# fig.show()

In [21]:


# # fig.update_layouta(updatemenus=dict())

# fig.layout.updatemenus[0].buttons[0].args[1]["frame"]["duration"] = 100
# fig.layout.coloraxis.colorbar.title.text = 'Temperature - Â°C'

In [8]:
dfx

,station,beg_time,temperature,humidity,latitude,longitude,yday
0,Station_1,2021-01-01 00:00:00,-5.800000,84.40,43.063950,-89.408794,1
1,Station_1,2021-01-01 01:00:00,-5.925000,85.00,43.063950,-89.408794,1
2,Station_1,2021-01-01 02:00:00,-6.520000,86.40,43.063950,-89.408794,1
3,Station_1,2021-01-01 03:00:00,-7.125000,87.00,43.063950,-89.408794,1
4,Station_1,2021-01-01 04:00:00,-7.600000,87.00,43.063950,-89.408794,1
...,...,...,...,...,...,...,...
48587,Station_7,2021-12-30 13:00:00,2.120000,20.00,43.127703,-89.350157,364
48588,Station_7,2021-12-30 14:00:00,2.075000,21.75,43.127703,-89.350157,364
48589,Station_7,2021-12-30 15:00:00,2.316667,21.00,43.127703,-89.350157,364
48590,Station_7,2021-12-30 16:00:00,1.875000,26.75,43.127703,-89.350157,364
48591,Station_7,2021-12-30 17:00:00,1.666667,20.00,43.127703,-89.350157,364

# 2. Visualizing LTER Madison Data

In [2]:
lter_stations = pd.read_csv('data/Madison/WSC_Station_locations.csv')
lter_df = pd.read_csv('data/Madison/WSC_TempC2021_UPDATED.csv')

lter_combined = pd.merge(left=lter_df, right=lter_stations, left_on='SID', right_on='SID')

In [3]:
lter_combined = dp.process_lter(lter_combined)

In [9]:
lter_combined
# lter_combined[(lter_combined.sample_date =='2021-06-16') & (lter_combined.sid=='S.034.U')]

         station            beg_time  temperature   latitude  longitude  yday
0        S.001.R 2021-01-01 00:00:00    35.331389  43.221191 -89.398155     1
1        S.001.R 2021-01-01 01:00:00    35.525000  43.221191 -89.398155     1
2        S.001.R 2021-01-01 02:00:00    35.447222  43.221191 -89.398155     1
3        S.001.R 2021-01-01 03:00:00    35.488472  43.221191 -89.398155     1
4        S.001.R 2021-01-01 04:00:00    35.611389  43.221191 -89.398155     1
...          ...                 ...          ...        ...        ...   ...
1322755  S.151.U 2021-12-31 19:00:00    36.858750  43.092091 -89.294289   365
1322756  S.151.U 2021-12-31 20:00:00    37.341806  43.092091 -89.294289   365
1322757  S.151.U 2021-12-31 21:00:00    37.592917  43.092091 -89.294289   365
1322758  S.151.U 2021-12-31 22:00:00    37.569722  43.092091 -89.294289   365
1322759  S.151.U 2021-12-31 23:00:00    37.226944  43.092091 -89.294289   365

[1322760 rows x 6 columns]

In [10]:
dfx[(dfx['beg_time'].astype('str').str.contains(u'2021-06-16')) & (dfx.station == 'Station_7')]

,station,beg_time,temperature,humidity,latitude,longitude,yday
43846,Station_7,2021-06-16 00:00:00,1.360000,29.200000,43.127703,-89.350157,167
43847,Station_7,2021-06-16 01:00:00,1.450000,29.250000,43.127703,-89.350157,167
43848,Station_7,2021-06-16 02:00:00,1.240000,27.800000,43.127703,-89.350157,167
43849,Station_7,2021-06-16 03:00:00,1.560000,27.800000,43.127703,-89.350157,167
43850,Station_7,2021-06-16 04:00:00,1.480000,26.200000,43.127703,-89.350157,167
43851,Station_7,2021-06-16 05:00:00,1.320000,27.600000,43.127703,-89.350157,167
43852,Station_7,2021-06-16 06:00:00,1.540000,27.000000,43.127703,-89.350157,167
43853,Station_7,2021-06-16 07:00:00,1.240000,25.400000,43.127703,-89.350157,167
43854,Station_7,2021-06-16 08:00:00,1.450000,26.333333,43.127703,-89.350157,167
43855,Station_7,2021-06-16 09:00:00,1.640000,26.000000,43.127703,-89.350157,167
43856,Station_7,2021-06-16 10:00:00,1.350000,25.750000,43.127703,-89.350157,167
43857,Station_7,2021-06-16 11:00:00,1.380000,26.000000,43.127703,-89.350157,167
43858,Station_7,2021-06-16 12:00:00,1.560000,25.800000,43.127703,-89.350157,167
43859,Station_7,2021-06-16 13:00:00,0.840000,40.000000,43.127703,-89.350157,167
43860,Station_7,2021-06-16 14:00:00,0.780000,39.800000,43.127703,-89.350157,167
43861,Station_7,2021-06-16 15:00:00,1.540000,39.000000,43.127703,-89.350157,167
43862,Station_7,2021-06-16 16:00:00,1.325000,29.250000,43.127703,-89.350157,167
43863,Station_7,2021-06-16 17:00:00,1.366667,36.166667,43.127703,-89.350157,167
43864,Station_7,2021-06-16 18:00:00,1.475000,31.250000,43.127703,-89.350157,167
43865,Station_7,2021-06-16 19:00:00,1.160000,36.000000,43.127703,-89.350157,167
43866,Station_7,2021-06-16 20:00:00,1.560000,29.600000,43.127703,-89.350157,167
43867,Station_7,2021-06-16 21:00:00,1.160000,28.000000,43.127703,-89.350157,167
43868,Station_7,2021-06-16 22:00:00,1.440000,28.000000,43.127703,-89.350157,167
43869,Station_7,2021-06-16 23:00:00,1.460000,26.400000,43.127703,-89.350157,167

<!-- #  -->

## 3. PWS Wundergrounds

In [7]:
# files = ['pws_data_madison/'+x for x in os.listdir('pws_data_madison/') if '.csv' in x]
# dfs = [pd.read_csv(x) for x in files]
# pws_df = pd.concat(dfs,ignore_index=True)
# pws_df.to_csv('master_pws_data_madison.csv',index=False)

pws_df = pd.read_csv('data/Madison/master_pws_data_madison.csv')
pws_df = dp.process_wunder(pws_df)

In [8]:
pws_orlando = pd.read_csv('data/Orlando/master_orlando_pws.csv')
pws_orlando = dp.process_wunder(pws_orlando)

In [9]:
pws_orlando = pws_orlando[pws_orlando.temperature > -38]

In [13]:
pws_df

,station,beg_time,epoch,latitude,longitude,humidityAvg,temperature,windspeed,dewpt,heatindex,precipRate,day_of_year
0,KWICOTTA13,2021-01-01 00:00:00,1.609484e+09,43.057156,-89.244202,90.0,-9.0,6.0,-10.0,-9.0,0.0,1
1,KWICOTTA13,2021-01-01 01:00:00,1.609488e+09,43.057156,-89.244202,90.0,-8.0,2.0,-10.0,-8.0,0.0,1
2,KWICOTTA13,2021-01-01 02:00:00,1.609492e+09,43.057156,-89.244202,90.0,-8.0,1.0,-10.0,-8.0,0.0,1
3,KWICOTTA13,2021-01-01 03:00:00,1.609495e+09,43.057156,-89.244202,90.0,-9.0,2.0,-10.0,-8.0,0.0,1
4,KWICOTTA13,2021-01-01 04:00:00,1.609499e+09,43.057156,-89.244202,90.0,-9.0,2.0,-10.0,-9.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1100345,KWIWINDS9,2021-12-30 19:00:00,1.640916e+09,43.210999,-89.338997,97.0,-2.0,1.0,-2.0,-2.0,0.0,364
1100346,KWIWINDS9,2021-12-30 20:00:00,1.640920e+09,43.210999,-89.338997,97.0,-2.0,3.0,-2.0,-2.0,0.0,364
1100347,KWIWINDS9,2021-12-30 21:00:00,1.640923e+09,43.210999,-89.338997,97.0,-2.0,4.0,-2.0,-2.0,0.0,364
1100348,KWIWINDS9,2021-12-30 22:00:00,1.640927e+09,43.210999,-89.338997,96.0,-2.0,4.0,-2.0,-2.0,0.0,364
1100349,KWIWINDS9,2021-12-30 23:00:00,1.640930e+09,43.210999,-89.338997,96.0,-2.0,3.0,-2.0,-2.0,0.0,364

In [20]:
# outlier_check(dfx,'temperature','beg_time')

In [21]:
# outlier_check(lter_combined,'temperature','beg_time')

In [6]:
outlier_check(pws_df,'temperature','beg_time')

Level 0 check passed : Valid fields present
QC check 1 passed : Gross Error Test
#########################

QC Check 2 passed : Spike Test
#########################
QC Check 3 failed : 6 rows for KWICOTTA13
	 Failed indexes : Int64Index([1557, 1839, 2183, 2504, 2788, 2950], dtype='int64')
QC Check 3 failed : 11 rows for KWICOTTA14
	 Failed indexes : Int64Index([4876, 5362, 5990, 6173, 6725, 7417, 10221, 10454, 11740, 12148,
            12211],
           dtype='int64')
QC Check 3 failed : 9 rows for KWIDEFOR17
	 Failed indexes : Int64Index([12792, 13757, 15065, 15668, 16079, 16837, 18469, 19065, 19318], dtype='int64')
QC Check 3 failed : 8 rows for KWIDEFOR22
	 Failed indexes : Int64Index([21013, 21607, 22470, 23981, 24818, 25268, 26475, 27390], dtype='int64')
QC Check 3 failed : 13 rows for KWIFITCH21
	 Failed indexes : Int64Index([29579, 29634, 29938, 30070, 30978, 31059, 32678, 33232, 34106,
            34832, 35786, 35964, 37143],
           dtype='int64')
QC Check 3 failed : 2 rows for KWIFITCH30
	 Failed indexes : Int64Index([38693, 38751], dtype='int64')
QC Check 3 failed : 5 rows for KWIFITCH31
	 Failed indexes : Int64Index([41449, 41861, 43010, 44434, 48420], dtype='int64')
QC Check 3 failed : 5 rows for KWIFITCH35
	 Failed indexes : Int64Index([50087, 51188, 51674, 51692, 52896], dtype='int64')
QC Check 3 failed : 5 rows for KWIFITCH38
	 Failed indexes : Int64Index([55753, 56203, 56290, 57336, 57469], dtype='int64')
QC Check 3 failed : 4 rows for KWIFITCH40
	 Failed indexes : Int64Index([59496, 60436, 60437, 60775], dtype='int64')
QC Check 3 failed : 2 rows for KWIFITCH41
	 Failed indexes : Int64Index([62106, 63089], dtype='int64')
QC Check 3 failed : 2 rows for KWIFITCH42
	 Failed indexes : Int64Index([65537, 66876], dtype='int64')
QC Check 3 passed : Spike Test
QC Check 3 passed : Spike Test
QC Check 3 failed : 8 rows for KWIFITCH6
	 Failed indexes : Int64Index([68552, 69277, 69510, 70007, 71632, 74659, 74937, 75560], dtype='int64')
QC Check 3 failed : 7 rows for KWIFITCH8
	 Failed indexes : Int64Index([79130, 80644, 80850, 81850, 82976, 82977, 83996], dtype='int64')
QC Check 3 failed : 10 rows for KWIMADIS1
	 Failed indexes : Int64Index([85065, 85827, 86013, 86690, 87609, 88249, 88262, 88415, 89907,
            92297],
           dtype='int64')
QC Check 3 failed : 9 rows for KWIMADIS104
	 Failed indexes : Int64Index([92793, 93006, 93891, 94136, 94692, 97352, 97980, 98560, 98576], dtype='int64')
QC Check 3 failed : 11 rows for KWIMADIS114
	 Failed indexes : Int64Index([100830, 101017, 102443, 103122, 104183, 104438, 104458, 105761,
            106776, 106810, 107774],
           dtype='int64')
QC Check 3 failed : 13 rows for KWIMADIS118
	 Failed indexes : Int64Index([110378, 111720, 111721, 111857, 112078, 112174, 112791, 113485,
            113819, 114522, 114784, 115266, 116060],
           dtype='int64')
QC Check 3 failed : 10 rows for KWIMADIS119
	 Failed indexes : Int64Index([119372, 120104, 121101, 121159, 121619, 121896, 122631, 123088,
            123808, 125346],
           dtype='int64')
QC Check 3 failed : 4 rows for KWIMADIS120
	 Failed indexes : Int64Index([125751, 126877, 127131, 127196], dtype='int64')
QC Check 3 failed : 9 rows for KWIMADIS130
	 Failed indexes : Int64Index([133551, 133559, 137032, 137240, 137728, 138513, 138680, 140182,
            140687],
           dtype='int64')
QC Check 3 failed : 6 rows for KWIMADIS132
	 Failed indexes : Int64Index([142148, 144179, 145752, 147455, 149157, 149320], dtype='int64')
QC Check 3 failed : 10 rows for KWIMADIS134
	 Failed indexes : Int64Index([150225, 150977, 152868, 153106, 153251, 153622, 154258, 156286,
            156848, 157573],
           dtype='int64')
QC Check 3 failed : 3 rows for KWIMADIS138
	 Failed indexes : Int64Index([158891, 159004, 162209], dtype='int64')
QC Check 3 failed : 14 rows for KWIMADIS151
	 Failed indexes : Int64Index([162941, 163246, 163370, 164473, 164631, 165041, 166202, 166522,
            166634, 166949, 167551, 167683, 168625, 170688],
           dtype='int64')
QC Check 3 failed : 2 rows for KWIMADIS162
	 Failed indexes : Int64Index([172805, 175377], dtype='int64')
QC Check 3 failed : 14 rows for KWIMADIS175
	 Failed indexes : Int64Index([176917, 176955, 177033, 177866, 179856, 180377, 180403, 181076,
            181271, 181759, 181868, 182091, 182673, 183075],
           dtype='int64')
QC Check 3 failed : 3 rows for KWIMADIS18
	 Failed indexes : Int64Index([185721, 187912, 191522], dtype='int64')
QC Check 3 failed : 11 rows for KWIMADIS187
	 Failed indexes : Int64Index([193254, 193499, 194337, 195263, 196145, 196156, 196545, 198561,
            198777, 199312, 200255],
           dtype='int64')
QC Check 3 failed : 6 rows for KWIMADIS194
	 Failed indexes : Int64Index([200657, 200735, 200736, 201121, 201563, 202132], dtype='int64')
QC Check 3 failed : 5 rows for KWIMADIS195
	 Failed indexes : Int64Index([203158, 203970, 205965, 207297, 208761], dtype='int64')
QC Check 3 failed : 3 rows for KWIMADIS196
	 Failed indexes : Int64Index([210456, 211617, 211984], dtype='int64')
QC Check 3 failed : 5 rows for KWIMADIS198
	 Failed indexes : Int64Index([213515, 214271, 214920, 216262, 216291], dtype='int64')
QC Check 3 failed : 8 rows for KWIMADIS199
	 Failed indexes : Int64Index([216620, 216895, 218777, 220337, 220364, 220464, 221521, 222745], dtype='int64')
QC Check 3 failed : 8 rows for KWIMADIS201
	 Failed indexes : Int64Index([224891, 226966, 227858, 228240, 231295, 231857, 232059, 232379], dtype='int64')
QC Check 3 failed : 3 rows for KWIMADIS205
	 Failed indexes : Int64Index([233385, 233496, 235344], dtype='int64')
QC Check 3 failed : 12 rows for KWIMADIS208
	 Failed indexes : Int64Index([236477, 236557, 238144, 238461, 238812, 239256, 239625, 240039,
            240092, 241851, 241852, 243307],
           dtype='int64')
QC Check 3 passed : Spike Test
QC Check 3 failed : 12 rows for KWIMADIS214
	 Failed indexes : Int64Index([244887, 244963, 244964, 245051, 245196, 246707, 249700, 250087,
            251177, 251404, 252238, 252723],
           dtype='int64')
QC Check 3 failed : 6 rows for KWIMADIS215
	 Failed indexes : Int64Index([253149, 256245, 256860, 259296, 260200, 260702], dtype='int64')
QC Check 3 failed : 4 rows for KWIMADIS222
	 Failed indexes : Int64Index([261206, 261254, 261865, 262681], dtype='int64')
QC Check 3 failed : 7 rows for KWIMADIS223
	 Failed indexes : Int64Index([263234, 263713, 264708, 266139, 266909, 266987, 268228], dtype='int64')
QC Check 3 failed : 7 rows for KWIMADIS226
	 Failed indexes : Int64Index([269030, 269670, 270145, 270227, 270789, 272941, 273842], dtype='int64')
QC Check 3 failed : 5 rows for KWIMADIS233
	 Failed indexes : Int64Index([276504, 276651, 278277, 278281, 279104], dtype='int64')
QC Check 3 failed : 1 rows for KWIMADIS237
	 Failed indexes : Int64Index([283999], dtype='int64')
QC Check 3 failed : 14 rows for KWIMADIS238
	 Failed indexes : Int64Index([284696, 284999, 285181, 285704, 286121, 286557, 286691, 287060,
            288861, 290020, 290065, 290116, 291727, 292450],
           dtype='int64')
QC Check 3 failed : 7 rows for KWIMADIS239
	 Failed indexes : Int64Index([295040, 295555, 295718, 296795, 297768, 298257, 299277], dtype='int64')
QC Check 3 failed : 2 rows for KWIMADIS242
	 Failed indexes : Int64Index([299807, 300199], dtype='int64')
QC Check 3 failed : 6 rows for KWIMADIS249
	 Failed indexes : Int64Index([302524, 302908, 303373, 305338, 307288, 308223], dtype='int64')
QC Check 3 failed : 14 rows for KWIMADIS259
	 Failed indexes : Int64Index([309898, 309899, 311336, 311757, 311947, 312695, 313497, 313968,
            315878, 315964, 315986, 316071, 316093, 316399],
           dtype='int64')
QC Check 3 failed : 3 rows for KWIMADIS262
	 Failed indexes : Int64Index([318095, 318317, 319282], dtype='int64')
QC Check 3 failed : 2 rows for KWIMADIS266
	 Failed indexes : Int64Index([320655, 320952], dtype='int64')
QC Check 3 failed : 7 rows for KWIMADIS270
	 Failed indexes : Int64Index([321653, 323263, 323264, 324632, 325232, 326107, 326996], dtype='int64')
QC Check 3 failed : 4 rows for KWIMADIS273
	 Failed indexes : Int64Index([327280, 330502, 332177, 332483], dtype='int64')
QC Check 3 failed : 1 rows for KWIMADIS278
	 Failed indexes : Int64Index([335108], dtype='int64')
QC Check 3 failed : 6 rows for KWIMADIS279
	 Failed indexes : Int64Index([338351, 339483, 341612, 343691, 344524, 344568], dtype='int64')
QC Check 3 failed : 12 rows for KWIMADIS283
	 Failed indexes : Int64Index([345533, 345719, 346053, 346399, 347041, 348715, 348997, 349013,
            349372, 350331, 351648, 351699],
           dtype='int64')
QC Check 3 failed : 7 rows for KWIMADIS284
	 Failed indexes : Int64Index([353739, 353741, 353975, 354561, 354776, 355133, 360077], dtype='int64')
QC Check 3 failed : 9 rows for KWIMADIS287
	 Failed indexes : Int64Index([361322, 364038, 364563, 364853, 364854, 364855, 366279, 367319,
            367956],
           dtype='int64')
QC Check 3 failed : 12 rows for KWIMADIS288
	 Failed indexes : Int64Index([369638, 371123, 372808, 373073, 373077, 373094, 373147, 374174,
            374571, 375673, 376119, 376834],
           dtype='int64')
QC Check 3 failed : 7 rows for KWIMADIS290
	 Failed indexes : Int64Index([379070, 380036, 382027, 382480, 383558, 383739, 384275], dtype='int64')
QC Check 3 failed : 8 rows for KWIMADIS292
	 Failed indexes : Int64Index([388795, 389372, 390448, 391111, 391767, 392370, 392711, 393327], dtype='int64')
QC Check 3 failed : 14 rows for KWIMADIS293
	 Failed indexes : Int64Index([394189, 395362, 395576, 396097, 397387, 397388, 397389, 397390,
            397391, 397392, 399187, 399448, 401397, 401599],
           dtype='int64')
QC Check 3 failed : 8 rows for KWIMADIS294
	 Failed indexes : Int64Index([402001, 402583, 402878, 404244, 404274, 405512, 407793, 408955], dtype='int64')
QC Check 3 failed : 4 rows for KWIMADIS295
	 Failed indexes : Int64Index([410167, 410782, 410857, 412279], dtype='int64')
QC Check 3 failed : 6 rows for KWIMADIS301
	 Failed indexes : Int64Index([414157, 414347, 415589, 416261, 417442, 419171], dtype='int64')
QC Check 3 failed : 6 rows for KWIMADIS306
	 Failed indexes : Int64Index([425447, 425685, 426357, 426377, 427178, 427581], dtype='int64')
QC Check 3 failed : 10 rows for KWIMADIS308
	 Failed indexes : Int64Index([430295, 430304, 430627, 431696, 432191, 432192, 432949, 433515,
            434263, 436111],
           dtype='int64')
QC Check 3 failed : 1 rows for KWIMADIS309
	 Failed indexes : Int64Index([437552], dtype='int64')
QC Check 3 failed : 13 rows for KWIMADIS310
	 Failed indexes : Int64Index([438850, 439835, 440049, 440405, 440632, 441071, 441895, 442765,
            442766, 443838, 444298, 444453, 445408],
           dtype='int64')
QC Check 3 failed : 9 rows for KWIMADIS311
	 Failed indexes : Int64Index([446170, 446516, 447244, 447466, 448171, 450799, 452324, 452647,
            452843],
           dtype='int64')
QC Check 3 failed : 1 rows for KWIMADIS312
	 Failed indexes : Int64Index([457326], dtype='int64')
QC Check 3 failed : 142 rows for KWIMADIS313
	 Failed indexes : Int64Index([459468, 459689, 459899, 459966, 460008, 460009, 460010, 460416,
            460490, 460669,
            ...
            466365, 466595, 466830, 466835, 467007, 467008, 467009, 467010,
            467011, 467012],
           dtype='int64', length=142)
QC Check 3 failed : 16 rows for KWIMADIS314
	 Failed indexes : Int64Index([467637, 469750, 470365, 470614, 470661, 471071, 471254, 471567,
            472853, 472872, 472943, 473023, 473123, 473302, 473390, 474590],
           dtype='int64')
QC Check 3 failed : 6 rows for KWIMADIS324
	 Failed indexes : Int64Index([475616, 479362, 479392, 479892, 481302, 481862], dtype='int64')
QC Check 3 failed : 10 rows for KWIMADIS328
	 Failed indexes : Int64Index([483147, 483877, 486777, 486922, 488151, 488698, 488910, 489773,
            490160, 490997],
           dtype='int64')
QC Check 3 failed : 8 rows for KWIMADIS33
	 Failed indexes : Int64Index([491324, 491513, 492249, 492548, 494701, 496389, 497419, 497504], dtype='int64')
QC Check 3 failed : 13 rows for KWIMADIS331
	 Failed indexes : Int64Index([500413, 500761, 501892, 501950, 502060, 503616, 504067, 505866,
            505984, 506238, 507261, 507303, 507397],
           dtype='int64')
QC Check 3 failed : 11 rows for KWIMADIS332
	 Failed indexes : Int64Index([507736, 509419, 509453, 510161, 510605, 510746, 511237, 511941,
            512399, 512598, 513855],
           dtype='int64')
QC Check 3 failed : 15 rows for KWIMADIS333
	 Failed indexes : Int64Index([514456, 514867, 514889, 515054, 515101, 515870, 516581, 517788,
            518128, 518299, 518302, 519617, 520480, 521268, 521277],
           dtype='int64')
QC Check 3 failed : 3 rows for KWIMADIS334
	 Failed indexes : Int64Index([523123, 527287, 528324], dtype='int64')
QC Check 3 failed : 3 rows for KWIMADIS335
	 Failed indexes : Int64Index([529879, 536499, 536765], dtype='int64')
QC Check 3 failed : 7 rows for KWIMADIS336
	 Failed indexes : Int64Index([537463, 538103, 538765, 539964, 539965, 540246, 540682], dtype='int64')
QC Check 3 failed : 15 rows for KWIMADIS338
	 Failed indexes : Int64Index([541663, 541988, 543413, 543683, 543828, 544287, 544464, 544552,
            544553, 544558, 544568, 544675, 544850, 546979, 548781],
           dtype='int64')
QC Check 3 failed : 6 rows for KWIMADIS340
	 Failed indexes : Int64Index([549235, 549371, 551735, 552820, 553439, 554427], dtype='int64')
QC Check 3 failed : 4 rows for KWIMADIS342
	 Failed indexes : Int64Index([555812, 556066, 558421, 558698], dtype='int64')
QC Check 3 passed : Spike Test
QC Check 3 failed : 8 rows for KWIMADIS344
	 Failed indexes : Int64Index([563786, 564551, 565324, 565632, 566207, 566355, 566825, 566972], dtype='int64')
QC Check 3 failed : 4 rows for KWIMADIS345
	 Failed indexes : Int64Index([568985, 569970, 571462, 572669], dtype='int64')
QC Check 3 failed : 2 rows for KWIMADIS346
	 Failed indexes : Int64Index([573578, 573798], dtype='int64')
QC Check 3 failed : 5 rows for KWIMADIS347
	 Failed indexes : Int64Index([576738, 577987, 579457, 580076, 580099], dtype='int64')
QC Check 3 failed : 5 rows for KWIMADIS349
	 Failed indexes : Int64Index([580926, 581717, 581812, 583533, 584054], dtype='int64')
QC Check 3 failed : 10 rows for KWIMADIS35
	 Failed indexes : Int64Index([585863, 587671, 588165, 588854, 589703, 590386, 590650, 591164,
            591777, 591803],
           dtype='int64')
QC Check 3 failed : 5 rows for KWIMADIS350
	 Failed indexes : Int64Index([594582, 594618, 595761, 597809, 598582], dtype='int64')
QC Check 3 failed : 5 rows for KWIMADIS352
	 Failed indexes : Int64Index([599148, 599651, 600370, 601365, 602466], dtype='int64')
QC Check 3 failed : 5 rows for KWIMADIS353
	 Failed indexes : Int64Index([603306, 604248, 605428, 606798, 607455], dtype='int64')
QC Check 3 passed : Spike Test
QC Check 3 failed : 2 rows for KWIMADIS357
	 Failed indexes : Int64Index([610609, 611647], dtype='int64')
QC Check 3 failed : 3 rows for KWIMADIS359
	 Failed indexes : Int64Index([613445, 614433, 614560], dtype='int64')
QC Check 3 failed : 3 rows for KWIMADIS361
	 Failed indexes : Int64Index([616445, 617320, 618512], dtype='int64')
QC Check 3 failed : 3 rows for KWIMADIS362
	 Failed indexes : Int64Index([619654, 619967, 621797], dtype='int64')
QC Check 3 failed : 7 rows for KWIMADIS363
	 Failed indexes : Int64Index([622822, 623436, 623451, 623578, 623917, 624620, 625837], dtype='int64')
QC Check 3 failed : 1 rows for KWIMADIS364
	 Failed indexes : Int64Index([626169], dtype='int64')
QC Check 3 failed : 7 rows for KWIMADIS365
	 Failed indexes : Int64Index([626940, 626958, 627864, 628687, 628724, 628874, 629692], dtype='int64')
QC Check 3 failed : 5 rows for KWIMADIS366
	 Failed indexes : Int64Index([630157, 630423, 631474, 632847, 632902], dtype='int64')
QC Check 3 failed : 7 rows for KWIMADIS367
	 Failed indexes : Int64Index([633514, 633880, 634268, 634301, 634398, 634488, 635734], dtype='int64')
QC Check 3 failed : 2 rows for KWIMADIS369
	 Failed indexes : Int64Index([636418, 638359], dtype='int64')
QC Check 3 failed : 1 rows for KWIMADIS370
	 Failed indexes : Int64Index([639660], dtype='int64')
QC Check 3 failed : 2 rows for KWIMADIS371
	 Failed indexes : Int64Index([642374, 642427], dtype='int64')
QC Check 3 failed : 2 rows for KWIMADIS372
	 Failed indexes : Int64Index([644637, 644684], dtype='int64')
QC Check 3 passed : Spike Test
QC Check 3 passed : Spike Test
QC Check 3 failed : 5 rows for KWIMADIS41
	 Failed indexes : Int64Index([647050, 648879, 648880, 653662, 654708], dtype='int64')
QC Check 3 failed : 5 rows for KWIMADIS47
	 Failed indexes : Int64Index([655993, 655994, 657082, 659038, 659497], dtype='int64')
QC Check 3 failed : 4 rows for KWIMADIS48
	 Failed indexes : Int64Index([660646, 660832, 661207, 661880], dtype='int64')
QC Check 3 failed : 18 rows for KWIMADIS50
	 Failed indexes : Int64Index([663701, 663895, 665106, 665521, 666131, 667507, 667918, 667934,
            667946, 667958, 668209, 668412, 668481, 668484, 668794, 669397,
            669400, 671849],
           dtype='int64')
QC Check 3 failed : 13 rows for KWIMADIS52
	 Failed indexes : Int64Index([672374, 672987, 673125, 673968, 674309, 677066, 677392, 677591,
            677771, 678030, 678835, 679066, 679117],
           dtype='int64')
QC Check 3 failed : 6 rows for KWIMADIS65
	 Failed indexes : Int64Index([680486, 682118, 682165, 683068, 683267, 684027], dtype='int64')
QC Check 3 failed : 19 rows for KWIMADIS87
	 Failed indexes : Int64Index([687655, 687989, 688326, 688504, 688923, 690765, 690766, 690767,
            690808, 690848, 691861, 691862, 692352, 692698, 693076, 693208,
            694235, 694236, 694930],
           dtype='int64')
QC Check 3 failed : 11 rows for KWIMCFAR10
	 Failed indexes : Int64Index([698607, 699127, 699960, 700791, 701211, 701280, 702165, 702647,
            702760, 702802, 702923],
           dtype='int64')
QC Check 3 failed : 13 rows for KWIMCFAR16
	 Failed indexes : Int64Index([703453, 703792, 706237, 707049, 707662, 708264, 708597, 708827,
            709878, 710924, 711012, 711086, 711281],
           dtype='int64')
QC Check 3 failed : 9 rows for KWIMCFAR19
	 Failed indexes : Int64Index([711551, 712170, 713161, 713442, 713477, 713815, 714143, 716334,
            717759],
           dtype='int64')
QC Check 3 failed : 7 rows for KWIMCFAR20
	 Failed indexes : Int64Index([719817, 721632, 723422, 723540, 724296, 725166, 727498], dtype='int64')
QC Check 3 passed : Spike Test
QC Check 3 failed : 4 rows for KWIMCFAR8
	 Failed indexes : Int64Index([729407, 729616, 731032, 732714], dtype='int64')
QC Check 3 failed : 7 rows for KWIMCFAR9
	 Failed indexes : Int64Index([736430, 736461, 738348, 740629, 740630, 740982, 742039], dtype='int64')
QC Check 3 failed : 11 rows for KWIMIDDL11
	 Failed indexes : Int64Index([746690, 747093, 748274, 748942, 748943, 750046, 750202, 750562,
            750848, 751338, 751766],
           dtype='int64')
QC Check 3 failed : 10 rows for KWIMIDDL12
	 Failed indexes : Int64Index([753518, 755401, 755520, 756784, 756785, 756786, 756787, 756788,
            756877, 757196],
           dtype='int64')
QC Check 3 failed : 9 rows for KWIMIDDL14
	 Failed indexes : Int64Index([758876, 759365, 759618, 761492, 762219, 762770, 762844, 763215,
            764335],
           dtype='int64')
QC Check 3 failed : 4 rows for KWIMIDDL19
	 Failed indexes : Int64Index([766374, 766609, 768557, 768941], dtype='int64')
QC Check 3 failed : 10 rows for KWIMIDDL23
	 Failed indexes : Int64Index([771326, 773139, 773621, 774130, 775509, 775589, 775806, 776047,
            776048, 777886],
           dtype='int64')
QC Check 3 failed : 7 rows for KWIMIDDL25
	 Failed indexes : Int64Index([778740, 778803, 779932, 780449, 783445, 785194, 785327], dtype='int64')
QC Check 3 failed : 5 rows for KWIMIDDL36
	 Failed indexes : Int64Index([786383, 792102, 793070, 793111, 793922], dtype='int64')

In [63]:
import '../lib/crowdqc_test' as cqc

SyntaxError: invalid syntax (1227457413.py, line 1)